<div class="dashboard-container">
  <div class="header">
    <h1>Officer Dashboard</h1>
    <button class="logout-btn" (click)="logout()">Logout</button>
  </div>

  <div class="card list-card">
    <h2>Your Assigned Tasks</h2>
    
    <div *ngIf="grievances.length === 0" class="no-data">
        <p>No grievances assigned to you yet.</p>
    </div>

    <table *ngIf="grievances.length > 0">
      <thead>
        <tr>
          <th>Date</th>
          <th>Priority</th>
          <th>Type</th>
          <th>Description</th>
          <th>Location</th>
          <th>Current Status</th>
          <th>Message</th> <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let g of grievances">
          <td>{{ g.createdAt | date:'shortDate' }}</td>
          
          <td>
            <span [ngClass]="'prio-' + (g.priority ? g.priority.toLowerCase() : 'medium')">
              {{ g.priority || 'MEDIUM' }}
            </span>
          </td>

          <td>{{ g.department }}</td>
          <td>{{ g.description }}</td>
          <td>{{ g.location }}</td>
          
          <td>
            <span class="status-badge" [ngClass]="g.status.toLowerCase()">
              {{ g.status }}
            </span>
          </td>

          <td>
            <input type="text" 
                   [(ngModel)]="g.tempMessage" 
                   placeholder="Note for Admin..."
                   class="note-input">
          </td>

          <td class="action-cell">
            <button *ngIf="g.status === 'ASSIGNED'" 
                    class="action-btn start-btn" 
                    (click)="updateStatus(g, 'IN_PROGRESS')">
              Start Work
            </button>
            
            <button *ngIf="g.status === 'IN_PROGRESS'" 
                    class="action-btn resolve-btn" 
                    (click)="updateStatus(g, 'RESOLVED')">
              Resolve
            </button>
            
            <span *ngIf="g.status === 'RESOLVED'" class="completed-text">
              ✅ Completed
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>