<div class="authscreenbox">
<div class="auth-wrapper" [class.panel-active]="isRegisterMode">

  <!-- REGISTER -->
  <div class="auth-form-box register-form-box">
    <form [formGroup]="registerForm" (ngSubmit)="submitRegister()">
      <h1>Create Account</h1>
      
      <div class="success-message" *ngIf="successMessage">{{ successMessage }}</div>
      <div class="error-message" *ngIf="errorMessage">{{ errorMessage }}</div>
      
      <span>Use your email for registration</span>

      <input type="text" placeholder="Full Name" formControlName="fullName"  required=""/>
      <input type="email" placeholder="Email Address" formControlName="email" required=""/>
      <input type="password" placeholder="Password" formControlName="password" required=""/>
      <select formControlName="role" >
        <option value="CITIZEN">Citizen</option>
        <option value="OFFICER">Department Officer</option>
      </select>

      <button type="submit">Sign Up</button>

      <div class="mobile-switch">
        <p>Already have an account?</p>
        <button type="button" (click)="switchToLogin()">Sign In</button>
      </div>
    </form>
  </div>

  <!-- LOGIN -->
  <div class="auth-form-box login-form-box">
    <form [formGroup]="loginForm" (ngSubmit)="submitLogin()">
      <h1>Sign In</h1>

      <div class="error-message" *ngIf="errorMessage">{{ errorMessage }}</div>

      <span>Use your account</span>

      <input type="email" placeholder="Email Address" formControlName="email" required=""/>
      <input type="password" placeholder="Password" formControlName="password" required=""/>

      <a href="#">Forgot your password?</a>
      <button type="submit">Sign In</button>

      <div class="mobile-switch">
        <p>Don't have an account?</p>
        <button type="button" (click)="switchToRegister()">Sign Up</button>
      </div>
    </form>
  </div>

  <!-- SLIDE PANEL -->
  <div class="slide-panel-wrapper">
    <div class="slide-panel">

      <div class="panel-content panel-content-left">
        <h1>Welcome Back!</h1>
        <p>Stay connected by logging in with your credentials</p>
        <button class="transparent-btn" (click)="switchToLogin()">Sign In</button>
      </div>

      <div class="panel-content panel-content-right">
        <h1>Hey There!</h1>
        <p>Create your account and start your journey</p>
        <button class="transparent-btn" (click)="switchToRegister()">Sign Up</button>
      </div>

    </div>
  </div>
</div>
</div>